@import '../../styles/variables.scss';

.description {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding-bottom: 5px;

  &__title {
    color: $text-color-second;
    font-size: 16px;
    align-items: center;
  }

  &__data {
    font-size: 16px;
    align-items: center;
  }
}
